In [87]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns

import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras

df = pd.read_csv("C:/Users/dpfkd/Downloads/car_evaluation.csv")
df

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

컬럼명이 없어서 첫 값이 제목이 됨. pandas가 자동으로 중복된 이름을 바꿈.

In [90]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns

import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras

df = pd.read_csv("C:/Users/dpfkd/Downloads/car_evaluation.csv")

In [92]:
# 새로운 컬럼명 지정
df.columns = ['price', 'maint', 'doors', 'person', 'log_cap', 'safety', 'output']
df

      price  maint  doors person log_cap safety output
0     vhigh  vhigh      2      2   small    med  unacc
1     vhigh  vhigh      2      2   small   high  unacc
2     vhigh  vhigh      2      2     med    low  unacc
3     vhigh  vhigh      2      2     med    med  unacc
4     vhigh  vhigh      2      2     med   high  unacc
...     ...    ...    ...    ...     ...    ...    ...
1722    low    low  5more   more     med    med   good
1723    low    low  5more   more     med   high  vgood
1724    low    low  5more   more     big    low  unacc
1725    low    low  5more   more     big    med   good
1726    low    low  5more   more     big   high  vgood

[1727 rows x 7 columns]

In [94]:
print(df['output'].value_counts())

output
unacc    1209
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [96]:
#결측치 확인
df.isnull().sum()

price      0
maint      0
doors      0
person     0
log_cap    0
safety     0
output     0
dtype: int64

In [98]:
label_encoders = {}
for column in df.columns:
    label_encoders[column] = LabelEncoder()
    df[column] = label_encoders[column].fit_transform(df[column])

In [100]:
df

      price  maint  doors  person  log_cap  safety  output
0         3      3      0       0        2       2       2
1         3      3      0       0        2       0       2
2         3      3      0       0        1       1       2
3         3      3      0       0        1       2       2
4         3      3      0       0        1       0       2
...     ...    ...    ...     ...      ...     ...     ...
1722      1      1      3       2        1       2       1
1723      1      1      3       2        1       0       3
1724      1      1      3       2        0       1       2
1725      1      1      3       2        0       2       1
1726      1      1      3       2        0       0       3

[1727 rows x 7 columns]

In [102]:
print(df['output'].value_counts())

output
2    1209
0     384
1      69
3      65
Name: count, dtype: int64

데이터와 타겟을 분리

axis=1은 열 방향 왼쪽에서 오른쪽

axis=0은 행 방향 위에서 아래

df.drop('output', axis=1) 이 output 칼럼을 떼어낸다

df.drop(3, axis=0)
인덱스가 3인 행(가로줄)을 삭제

In [109]:
df

      price  maint  doors  person  log_cap  safety  output
0         3      3      0       0        2       2       2
1         3      3      0       0        2       0       2
2         3      3      0       0        1       1       2
3         3      3      0       0        1       2       2
4         3      3      0       0        1       0       2
...     ...    ...    ...     ...      ...     ...     ...
1722      1      1      3       2        1       2       1
1723      1      1      3       2        1       0       3
1724      1      1      3       2        0       1       2
1725      1      1      3       2        0       2       1
1726      1      1      3       2        0       0       3

[1727 rows x 7 columns]

example

In [112]:
df.copy = df.drop(3, axis=0)
df.copy

      price  maint  doors  person  log_cap  safety  output
0         3      3      0       0        2       2       2
1         3      3      0       0        2       0       2
2         3      3      0       0        1       1       2
4         3      3      0       0        1       0       2
5         3      3      0       0        0       1       2
...     ...    ...    ...     ...      ...     ...     ...
1722      1      1      3       2        1       2       1
1723      1      1      3       2        1       0       3
1724      1      1      3       2        0       1       2
1725      1      1      3       2        0       2       1
1726      1      1      3       2        0       0       3

[1726 rows x 7 columns]

In [114]:
X = df.drop(['output'], axis=1)  # 피처(입력값)
y = df['output']  # 레이블(정답)

In [116]:
X

      price  maint  doors  person  log_cap  safety
0         3      3      0       0        2       2
1         3      3      0       0        2       0
2         3      3      0       0        1       1
3         3      3      0       0        1       2
4         3      3      0       0        1       0
...     ...    ...    ...     ...      ...     ...
1722      1      1      3       2        1       2
1723      1      1      3       2        1       0
1724      1      1      3       2        0       1
1725      1      1      3       2        0       2
1726      1      1      3       2        0       0

[1727 rows x 6 columns]

In [118]:
y

0       2
1       2
2       2
3       2
4       2
       ..
1722    1
1723    3
1724    2
1725    1
1726    3
Name: output, Length: 1727, dtype: int32

넘파이는 배열 속도가 빠르다. 딥러닝 머신러닝을 할때는 넘파이로 변경을 해야한다.

.values 를 사용하면 안의 데이터를 배열로 추출

데이터만 남고 판다스의 인덱스는 사라짐

In [123]:
print("X 타입:", type(X))
print("y 타입:", type(y))

X 타입: <class 'pandas.core.frame.DataFrame'>
y 타입: <class 'pandas.core.series.Series'>

In [125]:
# standard scaler, X의 값을 평균0, 표춘편차1로 만들어줌. minmaxscaler : 0과1사이
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [127]:
print(type(X_scaled))
X_scaled

<class 'numpy.ndarray'>

array([[ 1.34272909e+00,  1.34272909e+00, -1.34272909e+00,
        -1.22563179e+00,  1.22563179e+00,  1.22439044e+00],
       [ 1.34272909e+00,  1.34272909e+00, -1.34272909e+00,
        -1.22563179e+00,  1.22563179e+00, -1.22439044e+00],
       [ 1.34272909e+00,  1.34272909e+00, -1.34272909e+00,
        -1.22563179e+00,  7.09277656e-04,  0.00000000e+00],
       ...,
       [-4.46540306e-01, -4.46540306e-01,  1.34117500e+00,
         1.22421323e+00, -1.22421323e+00,  0.00000000e+00],
       [-4.46540306e-01, -4.46540306e-01,  1.34117500e+00,
         1.22421323e+00, -1.22421323e+00,  1.22439044e+00],
       [-4.46540306e-01, -4.46540306e-01,  1.34117500e+00,
         1.22421323e+00, -1.22421323e+00, -1.22439044e+00]])

In [129]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=0)

In [131]:
print(type(X_train))
print(type(X_test))
print(type(y_train))
print(type(y_test))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [133]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1381, 6), (346, 6), (1381,), (346,))

In [135]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [137]:
clf_svm = SVC(random_state=0)
clf_svm.fit(X_train, y_train)

pred_svm = clf_svm.predict(X_test)

print("\n--- SVM Classifier ---")
print(accuracy_score(y_test, pred_svm))
print(confusion_matrix(y_test, pred_svm))

--- SVM Classifier ---
0.8786127167630058
[[ 62   1  14   0]
 [  9   4   0   1]
 [ 17   0 222   0]
 [  0   0   0  16]]

In [139]:
# Build a logistic regression classifier and predict

clf_lr = LogisticRegression(random_state=0)
clf_lr.fit(X_train, y_train)

pred_lr = clf_lr.predict(X_test)

print ("\n--- Logistic Regression Classifier ---")
print (accuracy_score(y_test, pred_lr))
print (confusion_matrix(y_test, pred_lr))

--- Logistic Regression Classifier ---
0.6907514450867052
[[ 18   0  55   4]
 [  2   0  12   0]
 [ 16   0 221   2]
 [  4   0  12   0]]

In [141]:
clf_nn = MLPClassifier(random_state=0, max_iter=1000)
clf_nn.fit(X_train, y_train)

pred_nn = clf_nn.predict(X_test)

print ("\n--- Neural Network Classifier ---")
print (accuracy_score(y_test, pred_nn))
print (confusion_matrix(y_test, pred_nn))

--- Neural Network Classifier ---
0.9826589595375722
[[ 74   2   1   0]
 [  0  12   0   2]
 [  0   0 239   0]
 [  1   0   0  15]]

In [142]:
# Build a decision tree classifier and predict

clf_dt = DecisionTreeClassifier(random_state=0)
clf_dt.fit(X_train, y_train)

pred_dt = clf_dt.predict(X_test)

print ("\n--- Decision Tree Classifier ---")
print (accuracy_score(y_test, pred_dt))
print (confusion_matrix(y_test, pred_dt))

--- Decision Tree Classifier ---
0.976878612716763
[[ 74   0   3   0]
 [  0  12   0   2]
 [  0   0 239   0]
 [  3   0   0  13]]

In [145]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

print ("\n--- Radom Forest ---")
rf_clf = RandomForestClassifier(random_state=0)
rf_clf.fit(X_train, y_train)
pred = rf_clf.predict(X_test)
print(accuracy_score(y_test,pred))
print (confusion_matrix(y_test, pred))

--- Radom Forest ---
0.9739884393063584
[[ 72   1   4   0]
 [  1  10   0   3]
 [  0   0 239   0]
 [  0   0   0  16]]